<div id="page-content">
  <div class="container" id='home-container'>
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">Alpha Blog</h1>
      <p class="lead">What is in each bottle for us? </p>
      <hr class="my-4">
      <p>Let's explore in search of the unknown</p>
      </br>
      <a class="btn btn-success btn-lg" href="#" role="button">Sign up</a>
    </div>
  </div>
</div>



    <%= link_to 'Article Listing', articles_path %> | 
      <%= link_to 'About Us', about_path %>


  <footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; Jatic</small>
    </div>
  </footer>

</body>